@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">PUC MINAS - ADS</h1>
    <p>Criado por: <a href="https://www.linkedin.com/in/lsoaressf/" target="_blank">Lucas Soares</a></p>
</div>